/* *{
    background-color: rgb(236, 236, 201);
} */
body{
    content: none;
    /* background: url(./bg4.jfif) no-repeat center center/cover; */
    width: 100%;
    height: 100%;
    background-color: rgb(39, 38, 38);
}
.container{
    text-align: center;
}
h1{
    margin-bottom: 50px;
}
.calculator{
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    height: 450px;
}
table{
    margin: auto;
}
input{
    border: none;
    width: 282px;
    height: 50px;
    margin-bottom: 15px;
    font-size: 35px;
    /* background-color: rgb(231, 215, 215); */
    text-align: right;
    padding-top: 55px;
}
button{
    height: 58px;
    width: 70px;
    background-color: rgb(243, 216, 194);
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
}
button:hover{ 
    background-color: rgb(219, 180, 148);
}